In [ ]:
import pandas as pd
import json
df = pd.read_csv('tmdb_5000_movies.csv')
df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
# Serialize our JSON object into Python
sample = json.loads(df["genres"][0])
sample

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [ ]:
# Now we can use list methods
type(sample)

list

In [ ]:
json_cols = ['genres', 'keywords', 'production_companies', 'spoken_languages', 'production_countries']

def clean_json(x):
    return json.loads(x)

for x in json_cols:
    df[x] = df[x].apply(clean_json)

In [ ]:
df["genres"][0][0].items()

dict_items([('id', 28), ('name', 'Action')])

In [ ]:
def clean_json2(x):

    # store values
    ls = []

    # loop through the list f dictionaries
    for y in range(len(x[0])):

        # Access each key and value in each dictionary
        for k, v in x[0][y].items():
            # append column names to ls
            ls.append(str(k)+ "_" +str(v))
   
    # create a new column or change 0 to 1 if keyword exists
    for z in range(len(ls)):

        # If column not in the df columns then make a new column and assign zero values while changing the current row to 1
        if ls[z] not in df.columns:
            df[ls[z]] = 0
            df[ls[z]].iloc[x.name] = 1
        else:
            df[ls[z]].iloc[x.name] = 1
    return

print("Original Shape",df.shape)

# Loop over all columns and clean json and create new columns
for x in json_cols:
    df[[x]].apply(clean_json2, axis=1)

print("New Shape", df.shape)

Original Shape (4803, 20)
New Shape (4803, 29111)

In [ ]:
df.head(100)

       budget genres  ... Foreign  TV Movie
0   237000000   None  ...       0         0
1   300000000   None  ...       0         0
2   245000000   None  ...       0         0
3   250000000   None  ...       0         0
4   260000000   None  ...       0         0
..        ...    ...  ...     ...       ...
95  165000000   None  ...       0         0
96  160000000   None  ...       0         0
97   15000000   None  ...       0         0
98  250000000   None  ...       0         0
99   38000000   None  ...       0         0

[100 rows x 40 columns]

In [ ]:
import json
tmdb_5000_movies_df_1 = df.copy()

In [ ]:
tmdb_5000_movies_df_1['genres'] = tmdb_5000_movies_df_1['genres'].apply(json.loads)

In [ ]:
for i, x in tmdb_5000_movies_df_1.sample(1)[["genres"]].iloc[0:10].iterrows():
    print(x[0])
    print(i, "\n", x, "\n")

[{'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}]
1908
 genres    [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
Name: 1908, dtype: object

In [ ]:

#empty dataframe to  assign Id and genre's name
columns = ['name']
tmdb_movie_genres = pd.DataFrame(columns=columns)
#iterat tmdb_5000_movies_df_1 to iterate genre's rows
for i, x in tmdb_5000_movies_df_1[['genres']].iterrows():
    #print(i)
    #iterate for genre's dict. and then extract genres ID and name from that dict.
    for y in range(len(x)):

        if "id" not in tmdb_movie_genres.columns:
            tmdb_movie_genres[]

        #key_list=list(i.keys())
        val_list=list(i.values())
        my_series = pd.Series(val_list)
        my_series = my_series.to_frame().T
        tmdb_movie_genres = tmdb_movie_genres.append(my_series, ignore_index=True)

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]