In [2]:
import pandas as pd
import json # The module we need to decode JSON

#### Decode all JSON Columns

In [4]:
df = pd.read_csv("tmdb_5000_movies.csv")

sample_type = type(df["genres"][0])
print(f"The data type before using apply function: {sample_type}\n")

# Column names that contain JSON
json_cols = ['genres', 'keywords', 'production_companies', 'spoken_languages', 'production_countries']


def clean_json(x):
    "Create apply function for decoding JSON"
    return json.loads(x)

# Apply the function column wise to each column of interest
for x in json_cols:
    df[x] = df[x].apply(clean_json)

sample_type2 = type(df["genres"][0])
print(f"The data type after using apply function: {sample_type2}")

The data type before using apply function: <class 'str'>

The data type after using apply function: <class 'list'>

#### Access the Python data type like we normally would

In [5]:
# Look at first row of genres
df["genres"][0]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [6]:
# Look at 2nd element in the list of dictionaries
df["genres"][0][1]

{'id': 12, 'name': 'Adventure'}

In [7]:
# Access "name" key to reveal associated value
df["genres"][0][1]["name"]

'Adventure'